html, body {
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
}

a:link {
    color: #CC0146;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #AE194C;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #AE194C;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #CA9CAD;
    background-color: transparent;
    text-decoration: underline;
}

/*foot*/
a.footLnk:link {
    color: #FFFEFE;
    background-color: transparent;
    text-decoration: none;
}

a.footLnk:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}

a.footLnk:hover {
    color: lightgray;
    background-color: transparent;
    text-decoration: underline;
}

a.footLnk:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

#footer {
    position: relative;
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-bottom: 2rem;
}

input[type=text] {
    border:none; 
    border-bottom:1px solid;
}