a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

xhtml { font-size: 14px; }

@media (min-width: 768px) {
    xhtml { font-size: 16px; }
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.siteLogo {
    height: 50px;
}

.blank {
}

.hidden {
    display: none;
}