.img-category {
    position: relative;
    height: 40px;
    z-index: 9999!important;
    display: block;
}

.card {
    border: 0px !important;
}

.mCointaner {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 6px !important;
}

.toolTip {
    opacity: 0.7;
}