.img-category {
    height: 50px !important;
}

.card {
    border: 0px !important;
}

.mCointaner {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 6px !important;
}

.toolTip {
    opacity: 0.7;
}