/*html, body {
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
    font-size: 14px;
}*/

@font-face {
    font-family: 'Anton';
    src: local('Anton'), url(/fonts/Anton-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/fonts/Poppins-Black.ttf) format('truetype'), local('Poppins-BlackItalic'), url(/fonts/Poppins-BlackItalic.ttf) format('truetype'), local('Poppins-Bold'), url(/fonts/Poppins-Bold.ttf) format('truetype'), local('Poppins-BoldItalic'), url(/fonts/Poppins-BoldItalic.ttf) format('truetype'), local('Poppins-ExtraBold'), url(/fonts/Poppins-ExtraBold.ttf) format('truetype'), local('Poppins-ExtraBoldItalic'), url(/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype'), local('Poppins-ExtraLight'), url(/fonts/Poppins-ExtraLight.ttf) format('truetype'), local('Poppins-ExtraLightItalic'), url(/fonts/Poppins-ExtraLightItalic.ttf) format('truetype'), local('Poppins-Italic'), url(/fonts/Poppins-Italic.ttf) format('truetype'), local('Poppins-Light'), url(/fonts/Poppins-Light.ttf) format('truetype'), local('Poppins-LightItalic'), url(/fonts/Poppins-LightItalic.ttf) format('truetype'), local('Poppins-Medium'), url(/fonts/Poppins-Medium.ttf) format('truetype'), local('Poppins-MediumItalic'), url(/fonts/Poppins-MediumItalic.ttf) format('truetype'), local('Poppins-Regular'), url(/fonts/Poppins-Regular.ttf) format('truetype'), local('Poppins-SemiBold'), url(/fonts/Poppins-SemiBold.ttf) format('truetype'), local('Poppins-SemiBoldItalic'), url(/fonts/Poppins-SemiBoldItalic.ttf) format('truetype'), local('Poppins-Thin.ttf'), url(/fonts/Poppins-Thin.ttf) format('truetype'), local('Poppins-ThinItalic.ttf'), url(/fonts/Poppins-ThinItalic.ttf) format('truetype')
}

@font-face {
    font-family: "BarcodeFont";
    src: local('BarcodeFont'), url(/fonts/BarcodeFont.ttf) format('truetype')
}

/*Exemplo do site Primereact*/
body {
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: normal;
    color: #495057;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    color: #fff;
    background: #cc0046;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }

    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }

    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}

.customer-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

    .customer-badge.status-qualified {
        background-color: #C8E6C9;
        color: #256029;
    }

    .customer-badge.status-unqualified {
        background-color: #FFCDD2;
        color: #C63737;
    }

    .customer-badge.status-negotiation {
        background-color: #FEEDAF;
        color: #8A5340;
    }

    .customer-badge.status-new {
        background-color: #B3E5FC;
        color: #23547B;
    }

    .customer-badge.status-renewal {
        background-color: #ECCFFF;
        color: #694382;
    }

    .customer-badge.status-proposal {
        background-color: #FFD8B2;
        color: #805B36;
    }

.product-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

    .product-badge.status-instock {
        background: #C8E6C9;
        color: #256029;
    }

    .product-badge.status-outofstock {
        background: #FFCDD2;
        color: #C63737;
    }

    .product-badge.status-lowstock {
        background: #FEEDAF;
        color: #8A5340;
    }

.order-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

    .order-badge.order-delivered {
        background: #C8E6C9;
        color: #256029;
    }

    .order-badge.order-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }

    .order-badge.order-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    .order-badge.order-returned {
        background: #ECCFFF;
        color: #694382;
    }

.image-text {
    vertical-align: middle;
    margin-left: .5rem;
}

.p-multiselect-representative-option {
    display: inline-block;
    vertical-align: middle;
}

    .p-multiselect-representative-option img {
        vertical-align: middle;
        width: 24px;
    }

    .p-multiselect-representative-option span {
        margin-top: .125rem;
    }

.p-column-filter {
    width: 100%;
}

.country-item {
    display: flex;
    align-items: center;
}

    .country-item img.flag {
        width: 18px;
        margin-right: .5rem;
    }

.flag {
    vertical-align: middle;
}

span.flag {
    width: 44px;
    height: 30px;
    display: inline-block;
}

img.flag {
    width: 30px
}

/*Minhas configs*/
a:link {
    color: #CC0146;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #AE194C;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #AE194C;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #CA9CAD;
    background-color: transparent;
    text-decoration: underline;
}

/*foot*/
a.footLnk:link {
    color: #FFFEFE;
    background-color: transparent;
    text-decoration: none;
}

a.footLnk:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}

a.footLnk:hover {
    color: lightgray;
    background-color: transparent;
    text-decoration: underline;
}

a.footLnk:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

#footer {
    position: relative;
    clear: both;
    background-color: #24262a;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 100px;
    margin-bottom: 2rem;
    max-width: 70%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: none;
}

.redCard {
    background-color: #CC0146;
    margin-top: 100px;
    margin-bottom: 2rem;
    max-width: 70%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: none;
}

.whiteCard {
    background-color: #fffefe;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    border: none;
}

.carouselTitle {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    color: #fffefe;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid;
}

input[type=password] {
    border: none;
    border-bottom: 1px solid;
}

/*Meus overrides*/
ul.nav {
    width: 100%
}

span.p-input-icon-right {
    width: 100%
}

element.style {
}

.p-fluid .p-dropdown {
    display: -ms-flexbox;
    display: flex;
}

.p-dropdown {
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p-component, .p-component * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.p-dropdown {
    border: none !important;
    border-bottom: 1px solid !important;
}

.granContainer {
    width: 100% !important;
    max-width: 100% !important;
}

.divSteps {
    margin: 50px 50px 100px 50px
}

/* Image Blink */
/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* IE */
@-ms-keyframes blink {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Opera and prob css3 final iteration */
@keyframes blink {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

/*carousel indicators*/
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #AE194C;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #CA9CAD;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background: #AE194C;
}

ul.hideIndicators {
    display: none !important;
}

/*btn-primary ovveride */
.p-button {
    color: #ffffff;
    background: #ae194c;
    border: 1px solid #ca9cad !important;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    border-radius: 3px;
}

.btn-primary {
    color: #fff !important;
    background-color: #CC0146 !important;
    border-color: #CC0146 !important;
}

.p-button-success {
    color: #fff !important;
    background-color: #CC0146 !important;
    border-color: #CC0146 !important;
}

.p-button-help {
    color: #fff !important;
    background-color: #CC0146 !important;
    border-color: #CC0146 !important;
}

.p-badge.p-badge-success {
    color: #fff !important;
    background-color: #CC0146 !important;
    border-color: #CC0146 !important;
}

.p-button {
    background-color: #CC0146 !important;
    border-color: #CC0146 !important;
}

    .p-button:enabled:active {
        background-color: #CA9CAD !important;
        border-color: #CA9CAD !important;
    }

    .p-button:enabled:hover {
        background-color: #CA9CAD !important;
        border-color: #CA9CAD !important;
    }

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.carousel-content .p-carousel-next:enabled:hover .p-carousel-next:enabled:hover {
    color: #cc0146;
    border-color: transparent;
    background: #ca9cad;
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
    width: 2rem;
    height: 2rem;
    color: #CA9CAD;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    margin: 0.5rem;
}

.p-carousel-next .p-carousel-prev {
    width: 2rem;
    height: 2rem;
    color: #ae194c;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    margin: 0.5rem;
}

.carousel-content .p-carousel-next:enabled:hover {
    color: #fffefe;
    border-color: transparent;
    background: #ae194c;
}
